<div class="jumbotron">
  <h2>Mission Report. December 16, 1991.</h2>
  <p class="lead">
    Longing - Rusted - Seventeen - Daybreak - Furnace - Nine - Benign - Homecoming - One - Freight Car
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Kamehameha!<span class=""></span></a></p>
</div>

<div class="row marketing">
    
    <div class="col-md-2 tile tile-grey">
        <a ng-href="#/twoWayBinding"> Two way binding</a>
    </div>
    
    <div class="col-md-2 tile tile-blue">
        <a ng-href="#/scope"> Scope</a>
    </div>
    
    <div class="col-md-2 tile tile-pale-yellow">
        <a ng-href="#/services"> Services</a>
    </div>
    
    <div class="col-md-2 tile tile-purple">
        <a ng-href="#/filters"> Filters</a>
    </div>
</div>
